/*BEGINNING OF PAGE 1*/
/* HEADER CSS CODE BEGIN */
/* In the below code is the CSS code for the Hero header. Lines 11 to 19 is focusing on the
background image that is being used in the header. The linear gradient on line 10 darkens 
the image so that the text on top of it is easier to read for the viewer. The rest 
of the code (line 14-18) focuses on the size of the background image makes the overall
image fit nicely on all screen sizes such as tablets and mobile phones. */

body, html {
    height: 100%;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(IMG_3817.JPG);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -5%;
    margin-right: -5%;
}

/* in the CSS code below it focuses on the positioning of the next that is invlolved in the
header and makes sure that the text fits nicely in the centre of the image. As well as this, 
a font size has also been added to the text within the header. */

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 50px;
    margin-bottom: 10%;
}
h1 {
    font-size: 85px;
}
h3 {
    font-size: 35px;
}


/* HEADER CSS CODE END */

/* Navigation Bar Code begin */
.topnav {
    background-color: #333;
    text-align: center;
    padding: 14px;
}
.topnav a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .3s;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Navigation Bar Code End */

/*avatar image code begin*/
.avatar {
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-top: 5px;
    margin-left: 480px;
}
/*avatar image code end*/

/*END OF PAGE 1*/

* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.main {
    max-width: 1000px;
    margin: auto;
}
h2 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}
.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: calc(33.33% - 10px);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: white;
    padding: 10px;
}
.show {
    display: block;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-left: 250px;
}
.card {
    margin: 10px 5px;
    display: none;
}

.show {
    display: block;
}
